.Toastify__toast {
  border-radius: 5px;
}
.Toastify__toast--rtl {
}
.Toastify__toast--dark {
}
.Toastify__toast--default {
}
.Toastify__toast--info {
  background-color: white;
  color: black;
}
.Toastify__toast--success {
  background-color: #74d9a8;
}
.Toastify__toast--warning {
}
.Toastify__toast--error {
  background-color: #f08383;
}
